<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <% for (let i = 0; i < messages.length; i++) { %>
  <h1><%= messages[i].user %></h1>
  <p><%= messages[i].text %></p>
  <p><%= messages[i].added %></p>
  <a href="/<%= i%>"><button>Open</button></a>
  <% } %>
  <p><a href="/new"><button>New message</button></a></p>
</body>

</html>